/* define apple ios colors */
:root {

  /* colors */
  --ios-red: #ff453a;
  --ios-orange: #ff9f0a;
  --ios-yellow: #ffd60a;
  --ios-green: #30d158;
  --ios-mint: #63E6E2;
  --ios-teal: #40CBE0;
  --ios-cyan: #64d2ff;
  --ios-blue: #0a84ff;
  --ios-indigo: #5e5ce6;
  --ios-purple: #bf5af2;
  --ios-pink: #ff375f;
  --ios-brown: #AC8E68;

  /* text */
  --ios-text-primary: rgba(255, 255, 255, 1);
  --ios-text-secondary: rgba(235, 235, 245, 0.6);
  --ios-text-tertiary: rgba(235, 235, 245, 0.3);
  --ios-text-quaternary: rgba(235, 235, 245, 0.16);

  /* backgrounds */
  --ios-bg-primary: rgba(0, 0, 0, 1);
  --ios-bg-secondary: rgba(28, 28, 30, 1);
  --ios-bg-tertiary: rgba(44, 44, 46, 1);

  /* separators */
  --ios-separator-opaque: rgba(56, 56, 58, 1);
  --ios-separator-nonopaque: rgba(84, 84, 88, 0.65);
  --ios-separator-opaque-light: rgba(198, 198, 200, 1);
  --ios-separator-nonopaque-light: rgba(60, 60, 67, 0.36);

  /* materials */
  --ios-material-thick: rgba(37, 37, 37, 0.9);
  --ios-material-regular: rgba(37, 37, 37, 0.82);
  --ios-material-thin: rgba(37, 37, 37, 0.82);
  --ios-material-ultrathin: rgba(37, 37, 37, 0.55);

  --ios-link: rgb(0, 122, 255);
}

:root {
  --bs-body-color: var(--ios-text-primary);
  --bs-body-color-rgb: 255, 255, 255;
  --bs-body-bg: var(--ios-bg-primary);
  --bs-body-bg-rgb: 0, 0, 0;
  --bs-primary: var(--ios-blue);
  --bs-primary-rgb: 10, 132, 255;
}

:root {
  --body-max-width: 900px;
  --nav-max-width: 600px;
}

/* ---------------------------------- */

ion-toggle {
  --track-background-checked: var(--ios-green);
}

/* ---------------------------------- */

html {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: env(safe-area-inset-top);
}

body {
  background-color: var(--ios-bg-primary);
  color: var(--ios-text-primary);
  font-family: system-ui, -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: var(--body-max-width);
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
div::-webkit-scrollbar {
  display: none;
}

/* ---------------------------------- */

.container,
.container-fluid,
.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-color: inherit;
  --bs-table-border-color: inherit;
  margin: 0;
  vertical-align: middle;
  border-color: inherit;
}

:root {
  --bs-body-color: var(--ios-text-primary);
  --bs-body-bg: var(--ios-bg-primary);
  --bs-primary: var(--ios-blue);
  --bs-secondary: var(--ios-text-secondary);
  --bs-success: var(--ios-green);
  --bs-info: var(--ios-cyan);
  --bs-warning: var(--ios-orange);
  --bs-danger: var(--ios-red);

  --bs-secondary-color: var(--ios-text-secondary);
  --bs-secondary-bg: var(--ios-bg-secondary);
  --bs-tertiary-color: var(--ios-text-tertiary);
  --bs-tertiary-bg: var(--ios-bg-tertiary);

  --bs-link-color: var(--ios-link);

  --bs-border-color: var(--ios-separator-opaque);
}

/* ---------------------------------- */

nav {
  transform: translateZ(0);
  z-index: 1060 !important;
  background-color: var(--ios-bg-primary);
}

nav>.container {
  max-width: var(--nav-max-width);
}

nav .navbar-nav {
  flex-direction: row !important;
  justify-content: space-evenly;
  column-gap: 1rem;
}

nav .nav-link {
  color: var(--ios-text-primary);
  font-weight: 500;
  font-size: 1rem;
  padding-top: 0;
  padding-bottom: .3rem;
  text-align: center;
  margin: 0;
}

nav .nav-link:not(.flex-grow-0) {
  flex-grow: 1;
}

nav .nav-link:has(i) {
  padding-bottom: 0;
  justify-self: center;
}

nav .nav-link>i {
  font-size: 1.5rem;
}

nav .active-border {
  height: 3px;
  background-color: var(--ios-text-primary);
  border-radius: 1px;
  position: absolute;
  bottom: 0;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px -1px 5px var(--ios-text-secondary);
}

nav.hidden {
  display: none;
}

.main-body {
  width: 100%;
  margin-top: 1rem;
}

.page {
  position: relative;
}

/* ---------------------------------- */

span.invalid-msg {
  color: var(--ios-red);
  font-size: .8rem;
  font-weight: 400;
}

.flex-fit {
  flex-grow: 0;
  flex-shrink: 0;
}

/* ---------------------------------- */

.carousel-item {
  transition: transform 0.4s ease-in-out;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity 0.2s 0s ease-out;
  transform: none;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  z-index: 1;
  opacity: 1;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.2s;
}

/* ---------------------------------- */

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter-active {
  opacity: 1;
  z-index: 1;
  transition: opacity 200ms ease-in-out;
}

.fade-exit {
  opacity: 1;
  z-index: 0;
}

.fade-exit-active {
  opacity: 0;
  z-index: 0;
  transition: opacity 200ms ease-in-out;
}