/* WeekButton ---------------------------------------- */

.week-filter {
  overflow-x: scroll;
}

.week-filter .btn-group {
  border-radius: 0;
}

.week-filter-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  color: var(--ios-text-secondary);
  padding: 0 .6rem .4rem .6rem;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 300;
}

.week-filter-btn span.week-btn-date {
  font-size: .8rem;
  font-weight: 300;
  opacity: .5;
}

.week-filter-btn.active {
  color: var(--ios-text-primary);
  border-bottom: 3px solid var(--ios-link);
  font-weight: 600;
}

/* GameItem ---------------------------------------- */

.game-separator {
  border-top: .8px solid var(--ios-separator-nonopaque);
}

.game-group.cont-card {
  /* padding: .25rem 0; */
  /* margin-bottom: .5rem; */
  padding-bottom: .75rem;
}

.game-group.cont-card .cont-card-body {
  margin-inline: 0;
}

/* ---------------------------------- */

.game-item {
  -webkit-user-select: none;
  user-select: none;
  padding: .8rem .25rem;
  padding-right: .5rem;
  border-top: .8px solid var(--ios-separator-opaque);
}

.gap-2-alt {
  column-gap: .65rem;
}

.game-item:first-child {
  border-top: none;
}

/* ----- helpers ----- */

.game-item .vr {
  width: .8px;
  background-color: var(--ios-separator-opaque);
  opacity: 1;
}

.game-item .vr.cancelled {
  background-color: var(--ios-red);
  width: 1px;
  box-shadow: 0px 0px 5px var(--ios-red);
}


/* ----- set columns ----- */

.game-item .main-col,
.game-item .alert-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: .3rem;
  padding-right: .75rem;
}

.game-item .alert-col {
  padding-left: .25rem;
}

.game-item .stat-col,
.game-item .save-col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: .5rem;
  padding-left: .75rem;
  padding-right: .25rem;
  border-left: .8px solid var(--ios-separator-opaque);
}

.game-item .main-row,
.game-item .matches-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: .2rem;
}

.game-item .alt-row {
  padding-left: 1.5rem;
}

.game-item .main-row {
  column-gap: .3rem;
}

.game-item .info-col,
.game-item .edit-col {
  display: flex;
  flex-direction: column;
}

/* ---------------------------------- */

/* ---------------------------------- */

.game-item .game-time {
  color: var(--ios-text-primary);
  font-size: .95rem;
}

.game-item.post .game-time,
.game-item.post .game-court {
  color: var(--ios-text-tertiary);
}

.game-item .game-court {
  color: var(--ios-text-secondary);
  font-size: .85rem;
  /* font-weight: 300; */
}

.game-item .team-nbr {
  font-size: .95rem;
}

.game-item .team-name {
  font-size: .95rem;
}

.game-item-form .team-record {
  display: none;
}

.game-item .cancel-label {
  color: var(--ios-red);
}

/* ---------------------------------- */

.game-item .cancel-note {
  color: var(--ios-red);
  font-size: .8rem;
  font-weight: 400;
  column-gap: .4rem;
}

.game-item .cancel-note i {
  min-width: 1.1rem;
  text-align: right;
}

.game-item:not(.game-item-form) .match-item.entered>* {
  color: transparent;
}

.game-item:not(.game-item-form) .match-item.cancel>* {
  color: transparent !important;
}

.game-item .match-item.cancel.none>* {
  color: transparent;
}

.game-item .match-item>* {
  font-size: 1.5rem;
  transition: all 0.1s ease-in-out;
}

.game-item-form .match-item>* {
  font-size: 2.2rem;
  transition: all 0.1s ease-in-out;
}

.game-item .match-item i.bi-circle {
  opacity: .25;
  color: var(--ios-text-quaternary);
  transition: all 0.1s ease-in-out;
}

.game-item.post:not(.game-item-form) .match-item i.bi-circle {
  opacity: 0;
}

.game-item .match-item i.bi-check-circle {
  opacity: 1;
  color: var(--ios-green);
  transition: all 0.1s ease-in-out;
}

.game-item-form .match-item.cancel i {
  opacity: 0.25;
  color: var(--ios-text-quaternary);
}

.game-item-form .match-item.cancel.picked i {
  opacity: 1;
  color: var(--ios-red);
}

/* ---------------------------------- */

.game-item-form .alert {
  font-size: .8rem;
}

.game-item-form .alert i {
  font-size: .9rem;
}

.game-item-form .alert p:nth-child(2) {
  margin: .5rem 0;
  color: var(--ios-text-secondary) !important;
}

.game-item-form .alert p {
  margin: .5rem 0;
  color: var(--ios-text-primary) !important;
}

/* ---------------------------------- */