/* WeekButton ---------------------------------------- */

.week-filter {
  overflow-x: scroll;
}

.week-filter .btn-group {
  border-radius: 0;
}

.week-filter-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  color: var(--ios-text-secondary);
  padding: 0 .6rem .4rem .6rem;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 300;
}

.week-filter-btn span.week-btn-date {
  font-size: .8rem;
  font-weight: 300;
  opacity: .5;
}

.week-filter-btn.active {
  color: var(--ios-text-primary);
  border-bottom: 3px solid var(--ios-link);
  font-weight: 600;
}

/* ---------------------------------- */

.no-games-msg {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--ios-text-secondary);
}

/* GameItem ---------------------------------------- */

.game-separator {
  border-top: .8px solid var(--ios-separator-nonopaque);
}

.game-group.cont-card {
  /* padding: .25rem 0; */
  /* margin-bottom: .5rem; */
  padding-bottom: .5rem;
}

.game-group.cont-card .cont-card-body {
  margin-inline: 0;
}

.game-group.legend.cont-card {
  padding-top: 1rem;
}

/* ---------------------------------- */

.game-item {
  -webkit-user-select: none;
  user-select: none;
  padding: .8rem .25rem;
  padding-right: .5rem;
  border-top: .8px solid var(--ios-separator-opaque);
}

.gap-2-alt {
  column-gap: .65rem;
}

.game-item:first-child,
.game-item.legend {
  border-top: none;
}

/* ----- helpers ----- */

.game-item .status-bar {
  width: .8px;
  background-color: var(--ios-separator-opaque);
  opacity: 1;
}

.game-item.cncl .status-bar,
.game-item.legend .status-bar {
  width: 1.5px;
  background-color: var(--ios-red);
}

.game-item .match-separator {
  width: .8px;
  background-color: var(--ios-material-thin);
  opacity: 1;
}

.game-item.view .match-separator {
  display: none;
}

.game-item.legend {
  padding-left: 1.75rem;
}

.game-item.legend .legend-key {
  width: 2rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.game-item.legend .status-bar {
  width: 1.5px;
}

.game-item.legend .legend-item span {
  font-size: .95rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--ios-text-secondary);
}

/* ----- set columns ----- */

.game-item .cancel-row>*,
.game-item .note-row>*,
.game-item .label-row>* {
  padding-left: 1.5rem;
  min-height: 1.5rem;
}

/* ---------------------------------- */

.game-item .team-nbr,
.game-item .team-name,
.game-item .game-time {
  font-size: .95rem;
}

.game-item .game-court {
  color: var(--ios-text-secondary);
  font-size: .85rem;
}

.game-item.post .game-time,
.game-item.post .game-court {
  color: var(--ios-text-tertiary);
}

.game-item.form .team-record {
  display: none;
}

.game-item .cancel-row .button-inline {
  color: var(--ios-red);
}

.game-item .cancel-note {
  color: var(--ios-red);
  font-size: .8rem;
}

.game-item .match-header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-self: stretch;
  width: 1.5rem;
  transition: all 0.1s ease-in-out;
}

.game-item .match-header span {
  font-size: .85rem;
  font-weight: 500;
  color: var(--ios-text-secondary);
}

.game-item.form .match-header {
  width: 2.2rem;
  transition: all 0.1s ease-in-out;
}

/* .game-item.form .match-header,
.game-item.form .match-item {
  border-right: 1px solid var(--ios-separator-opaque);
}

.game-item.form .match-header:last-child,
.game-item.form .match-item:last-child {
  border-right: none;
} */

/* ---------------------------------- */

.game-item .match-item {
  font-size: 1.5rem;
  transition: all 0.1s ease-in-out;
}

.game-item.form .match-item {
  font-size: 2.2rem;
  transition: all 0.1s ease-in-out;
}

.game-item .match-item.checked.result {
  color: var(--ios-green) !important;
}

.game-item .match-item.checked.cancel {
  color: var(--ios-red);
}

.game-item.view.post .match-item,
.game-item.view.cncl .match-item {
  color: transparent;
}

/* .game-item.view .match-item.cancel {
  color: transparent !important;
} */

/* .game-item .match-item i.bi-check-circle {
  opacity: 1;
  color: var(--ios-green);
  transition: all 0.1s ease-in-out;
}

.game-item-form .match-item.cancel i {
  opacity: 0.25;
  color: var(--ios-text-quaternary);
}

.game-item-form .match-item.cancel.picked i {
  opacity: 1;
  color: var(--ios-red);
} */

/* ---------------------------------- */

.game-item-form .alert {
  font-size: .8rem;
}

.game-item-form .alert i {
  font-size: .9rem;
}

.game-item-form .alert p:nth-child(2) {
  margin: .5rem 0;
  color: var(--ios-text-secondary) !important;
}

.game-item-form .alert p {
  margin: .5rem 0;
  color: var(--ios-text-primary) !important;
}

/* ---------------------------------- */