/* Leaderboard -------------------------------------------------- */

.cont-card-body:has(.leaderboard-table) {
  padding: .4rem;
}

.leaderboard-table .team {
  text-align: left;
}

.leaderboard-table .drinks {
  color: var(--ios-brown);
}

.leaderboard-table .drinks i.fa-beer {
  color: var(--ios-brown);
  opacity: .6;
}