/* Leaderboard -------------------------------------------------- */

.leaderboard-table .team {
  text-align: left;
}

.leaderboard-table .drinks {
  color: var(--ios-brown);
}

.leaderboard-table .drinks i.fa-beer {
  color: var(--ios-brown);
  opacity: .6;
}

/* .leaderboard-item .drinks,
i.fa-beer {
  color: var(--ios-brown);
} */

/* .leaderboard-item .drinks i.fa-beer {
  color: var(--ios-brown);
  opacity: .6;
} */

/* th.drinks i.fa-beer {
  color: var(--ios-brown);
  opacity: .6;
}

td.drinks {
  color: var(--ios-brown)
} */